{% set musician = get_current_musician() %}

<div class="navbar-brand musician-dropdown dropdown" href="#">
    <button type="button" class="dropdown-toggle" id="musician-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if musician.avatar is not empty %}
            <img class="musician-avatar" src="{{ asset(resource_path(musician.avatar)) }}" alt="User avatar" />
        {% else %}
            <div class="musician-avatar no-avatar">
                <span class="fa fa-user"></span>
            </div>
        {% endif %}
    </button>

    <ul class="dropdown-menu" aria-labelledby="musician-dropdown">
        <li class="dropdown-header">{{ app.user.username }}</li>

        <li>
            <a href="{{ path('musician_show', { username: app.user.username }) }}">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x"></i>
                </span>

                profile
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>

                messages
            </a>
        </li>

        <li>
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-trophy fa-stack-1x"></i>
                </span>

                badges
            </a>
        </li>

        <li>
            <a href="{{ path('musician_show', { username: app.user.username }) }}">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-gears fa-stack-1x"></i>
                </span>

                settings
            </a>
        </li>

        <li role="separator" class="divider"></li>

        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-power-off fa-stack-1x"></i>
                </span>

                sign out
            </a>
        </li>
    </ul>
</div>