{% extends 'MusicToolsSongBookBundle::layout.html.twig' %}

{% block content_title %}
    <div class="icon">
        <span class="fa fa-pencil"></span>
    </div>
    Edit song <small>{{ entity.title }}</small>
{% endblock %}

{% block content %}
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(edit_form.cover) }}
            </div>

            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_row(edit_form.title) }}
                        {{ form_row(edit_form.artist) }}
                        {{ form_row(edit_form.rating) }}
                        {{ form_row(edit_form.mastery) }}
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-check"></span>
                        Edit
                    </button>

                    <a href="{{ path('song') }}" class="btn btn-default">
                        <span class="fa fa-times"></span>
                        Cancel
                    </a>

                    <a href="" class="btn btn-danger">
                        <span class="fa fa-trash-o"></span>
                        Delete
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}

