{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="page-header">
        Song list

        <a href="{{ path('song_new') }}" class="btn btn-primary btn-xs pull-right">
            <span class="fa fa-plus"></span>
            Add a new song
        </a>
    </h1>

    {% for entity in entities %}
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-md-2 text-center">
                    {% if entity.cover is not empty %}
                        <img src="{{ asset(resource_path(entity.cover)) }}" />
                    {% else %}
                    <div class="text-center big-icon">
                        <span class="fa fa-music"></span>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-10">
                    <h2>{{ entity.title }}</h2>
                    {% if entity.artist is defined %}
                    <p>from {{ entity.artist }}</p>
                    {% endif %}

                    <a href="{{ path('song_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('song_edit', { 'id': entity.id }) }}">edit</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
