{% extends '::base.html.twig' %}

{% import 'ElorfinUserInterfaceBundle:Show:fields.html.twig' as fields %}

{% block content %}
    <h1 class="sr-only">My songbook</h1>

    <ol class="breadcrumb">
        <li><a href="#">My songbook</a></li>
        <li class="active">Data</li>
    </ol>

    <a href="{{ path('song_new') }}" class="btn btn-round btn-primary">
        <span class="fa fa-fw fa-plus"></span>
        <span class="sr-only">Add a new song</span>
    </a>

    {#<div class="pull-right">


        <a href="{{ path('song_new') }}" class="btn btn-round btn-default">
            <span class="fa fa-fw fa-pencil"></span>
            <span class="sr-only">Add a new song</span>
        </a>

        <a href="{{ path('song_new') }}" class="btn btn-round btn-danger">
            <span class="fa fa-fw fa-trash-o"></span>
            <span class="sr-only">Add a new song</span>
        </a>
    </div>#}


    <div class="song-list">
        {% for entity in entities %}
        <div class="song-item">
            <a class="" href="{{ path('song_show', { 'id': entity.id }) }}" style="color: inherit;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-4 text-center">
                                {% if entity.cover is not empty %}
                                <img src="{{ asset(resource_path(entity.cover)) }}" class="img-responsive" />
                                {% else %}
                                <div class="text-center big-icon">
                                    <span class="fa fa-music"></span>
                                </div>
                                {% endif %}
                            </div>

                            <div class="col-md-10 col-sm-9 col-xs-8">
                                <h2 class="page-header">
                                    {{ entity.title }}

                                    {% if entity.artist is defined %}
                                    <small>{{ entity.artist }}</small>
                                    {% endif %}
                                </h2>

                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        {{ fields.score_show(entity.rating, 0, 10, 'fa fa-fw fa-lg fa-heart', 'fa fa-fw fa-lg fa-heart-o') }}
                                    </div>
                                    <div class="col-md-6 text-center">
                                        {{ fields.score_show(entity.mastery, 0, 10, 'fa fa-fw fa-lg fa-star', 'fa fa-fw fa-lg fa-star-o') }}
                                    </div>
                                </div>

                                {#<a class="btn btn-default" href="{{ path('song_edit', { 'id': entity.id }) }}">
                                    <span class="fa fa-pencil"></span>
                                    edit
                                </a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
