{% extends '::base.html.twig' %}

{% import 'ElorfinUserInterfaceBundle:Show:fields.html.twig' as fields %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/musictoolssongbook/libraries/alphaTab/Build/JavaScript/AlphaTab.css') }}" />
{% endblock %}

{% set header_links = [
    { label: 'Edit song',   icon: 'fa fa-fw fa-pencil',  url: path('song_edit', {id: entity.id}) },
    { label: 'Delete song', icon: 'fa fa-fw fa-trash-o', url: '#', class: 'danger' }
] %}

{% set breadcrumb_links = [
    { label: 'My songbook', url: path('song') },
    { label: entity.artist ~ ' - ' ~ entity.title }
] %}

{% block content_header %}{% endblock %}

{% block content %}
    <div class="row">
        {# Song cover #}
        <div class="col-md-3 text-center">
            {% if entity.cover is not empty %}
                <img src="{{ asset(resource_path(entity.cover)) }}" class="img-responsive img-shadow" style="margin-bottom: 20px;"/>
            {% else %}
                <div class="text-center big-icon">
                    <span class="fa fa-music"></span>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                    Rating
                    {{ fields.score_show(entity.rating, 0, 10, 'fa fa-fw fa-lg fa-heart', 'fa fa-fw fa-lg fa-heart-o') }}
                </div>
                <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                    Mastery
                    {{ fields.score_show(entity.mastery, 0, 10, 'fa fa-fw fa-lg fa-star', 'fa fa-fw fa-lg fa-star-o') }}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="content-header">
                <h1>{{ entity.title }} <small>{{ entity.artist }}</small></h1>
            </div>

            <ul class="song-resource-menu text-center">
                <li role="presentation" class="active">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-music fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>sheet music</b>
                            <small>1 element</small>
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-file-sound-o fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>medias</b>
                            <small>2 elements</small>
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-microphone fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>records</b>
                            <small>2 elements</small>
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span>

                        <span class="resource-item">
                            <b>information</b>
                        </span>
                    </a>
                </li>
            </ul>

            <div class="sheet-music">
                <div class="alphaTab" data-file="{{ asset('bundles/musictoolssongbook/libraries/alphaTab/Samples/JavaScript/files/AsILayDying-Reinvention.gpx') }}" data-tracks="3"></div>
{#                <div id="controls">
                    <div id="loadingInfo">Player not ready</div>
                    <div id="sfInfo">Loading Soundfont <span class="progress"></span></div>
                    <button class="button play" disabled="disabled" id="playPause">Play</button>
                    <button class="button" disabled="disabled" id="stop">Stop</button>

                    <div class="button-group" id="layoutButtons">
                        <button class="button active" disabled="disabled" id="page" data-layout="page" data-scrollmode="vertical">Page</button>
                        <button class="button" disabled="disabled" id="horizontalBarwise" data-layout="horizontal" data-scrollmode="horizontal-bar">Horizontal (Barwise)</button>
                        <button class="button" disabled="disabled" id="horizontalOffscreen" data-layout="horizontal" data-scrollmode="horizontal-offscreen">Horizontal (Offscreen)</button>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts debug=false filter='jsmin' output='vendor/angular/alphaTab.min.js'
        '@MusicToolsSongBookBundle/Resources/public/libraries/alphaTab/Build/JavaScript/AlphaTab.js'
        '@MusicToolsSongBookBundle/Resources/public/libraries/alphaTab/Build/JavaScript/jquery.alphaTab.js'
        '@MusicToolsSongBookBundle/Resources/public/libraries/alphaTab/Build/JavaScript/jquery.alphaTab.drop.js'
        '@MusicToolsSongBookBundle/Resources/public/libraries/alphaTab/Samples/JavaScript/lib/swfobject/swfobject.js'
        '@MusicToolsSongBookBundle/Resources/public/libraries/alphaTab/Samples/JavaScript/lib/alphaSynth/alphaSynth.js'
        '@MusicToolsSongBookBundle/Resources/public/libraries/alphaTab/Build/JavaScript/jquery.alphaTab.alphaSynth.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            var playerReady = false;
            var playerState = 0;
            var at = $('.alphaTab');

            var settings = AlphaTab.Settings.get_Defaults();
            settings.Layout.AdditionalSettings['hideInfo'] = false;

            //
            // 1. Load alphaTab
            at.alphaTab();

            //
            // 2. Initialize Player and Setup Player UI
            var as = at.alphaTab('playerInit', {
                asRoot: '{{ asset('bundles/musictoolssongbook/libraries/alphaTab/Samples/JavaScript/lib/alphaSynth/') }}',
                swfObjectRoot: '{{ asset('bundles/musictoolssongbook/libraries/alphaTab/Samples/JavaScript/lib/alphaSynth/') }}'
            }); // init alphaSynth

            as.On('ready', function(r) {
                // load default data
                as.LoadSoundFontUrl('{{ asset('bundles/musictoolssongbook/libraries/alphaTab/Samples/JavaScript/lib/alphaSynth/default.sf2') }}');
            });
            as.On('soundFontLoad', function(loaded, full) {
                var percentage = ((loaded / full) * 100)|0;
                $('#sfInfo .progress').text('(' + percentage + '%)');
            });
            as.On('soundFontLoaded', function() {
                $('#sfInfo').hide();
            });
            as.On('readyForPlay', function(r) {
                playerReady = r;
                updateControls();
            });
            as.On('playerStateChanged', function(s) {
                playerState = s;
                updateControls();
            });

            $('#playPause').click(function() {
                if(playerState == 1) {
                    as.Pause();
                }
                else {
                    as.Play();
                }
            });
            $('#stop').click(function() {
                as.Stop();
            });

            function updateControls() {
                if(!playerReady) {
                    $('#loadingInfo').show()
                    $('#controls button').attr('disabled', 'disabled');
                    $('#layoutButtons button').attr('disabled', 'disabled');
                }
                else {
                    $('#loadingInfo').hide()
                    $('#playPause').removeAttr('disabled');
                    $('#layoutButtons button').removeAttr('disabled');
                    switch(playerState) {
                        case 0: // stopped
                            $('#playPause').text('Play').removeClass('pause').addClass('play');
                            $('#stop').attr('disabled', 'disabled');
                            break;
                        case 1: // playing
                            $('#playPause').text('Pause').removeClass('play').addClass('pause');
                            $('#stop').removeAttr('disabled');
                            break;
                        case 2: // paused
                            $('#playPause').text('Play').removeClass('pause').addClass('play');
                            $('#stop').removeAttr('disabled');
                            break;
                    }
                }
            }

            $('#layoutButtons button').click(function() {
                $('#layoutButtons button').removeClass('active');
                $(this).addClass('active');

                var layout = $(this).data('layout');
                var scrollmode = $(this).data('scrollmode');
                // update renderer
                var renderer = at.alphaTab('renderer');
                renderer.Settings.Layout.Mode = layout;
                renderer.Invalidate();

                // update player
                var context = at.data('alphaTab');
                context.cursorOptions.autoScroll = scrollmode;
                at.alphaTab('playerCursorUpdateBeat', context.cursorOptions.currentBeat);
            });

            //
            // 3. Add cursors (optional)
            at.alphaTab('playerCursor');
            // at.alphaTab('drop'); // drag and drop

        });
    </script>
{% endblock %}
