{% extends '::base.html.twig' %}

{% set header_links = [
    { label: 'Cancel',        icon: 'fa fa-fw fa-times',   url: path('guitar_show', { id: entity.id }) },
    { label: 'Edit guitar',   icon: 'fa fa-fw fa-check',   url: '' },
    { label: 'Delete guitar', icon: 'fa fa-fw fa-trash-o', url: '', class: 'danger' }
] %}

{% set breadcrumb_links = [
    { label: 'My guitars', url: path('guitar') },
    { label: entity.manufacturer ~ ' ' ~ entity.model, url: path('guitar_show', { id: entity.id }) },
    { label: 'Edit', url: '' }
] %}

{% block content_title %}Edit guitar <small>{{ entity.manufacturer }}</small>{% endblock %}

{% block content %}
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include 'MusicToolsInstrumentBundle::shape.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body" {#data-ng-app="GuitarTuning" data-ng-cloak=""#}>
                        {#<tuning-edit data-headstock="" data-strings=""></tuning-edit>#}
                        {% include 'MusicToolsInstrumentBundle::tuning.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_widget(edit_form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span>
                Edit
            </button>

            <a href="{{ path('guitar_show', {id: entity.id}) }}" class="btn btn-default">
                <span class="fa fa-times"></span>
                Cancel
            </a>

            <a href="" class="btn btn-danger">
                <span class="fa fa-trash-o"></span>
                Delete
            </a>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Angular JS #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/tuning-widget.js'
        '@MusicToolsInstrumentBundle/Resources/public/js/tuning-widget.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
