{% extends 'ElorfinUserInterfaceBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='dist/css/music-font.min.css'
        'fonts/MusicFont/less/music-font.less'
    %}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {# Application styles #}
    {% stylesheets output='dist/css/app.css'
        'less/app.less'
    %}
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Music Tools{% endblock %}

{% set header_links     = header_links|default([]) %}
{% set breadcrumb_links = breadcrumb_links|default([]) %}

{% block angular_app %}data-ng-app="MusicTools" data-ng-cloak=""{% endblock %}

{% block body %}
    {# Top menu #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'header-authenticated.html.twig' %}
    {% else %}
        {% include 'header.html.twig' %}
    {% endif %}

    {# Sidebar #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'sidebar.html.twig' %}
    {% endif %}

    {# Content #}
    {% block content_container %}
    <div class="content {% block content_class %}{% endblock %}" data-scrollable="" style="position: relative;">
        <div class="container-fluid">
            {# User messages #}
            {% for message in app.session.getFlashBag.get('error') %}
            <div class="alert alert-error">{{ message|trans }}</div>
            {% endfor %}

            {% for message in app.session.getFlashBag.get('warning') %}
            <div class="alert alert-warning">{{ message|trans }}</div>
            {% endfor %}

            {% for message in app.session.getFlashBag.get('success') %}
            <div class="alert alert-success">{{ message|trans }}</div>
            {% endfor %}

            {# Page header #}
            {% block content_header %}
            <div class="content-header">
                {# Page title #}
                <h1>{% block content_title %}{% endblock %}</h1>

                {# Breadcrumb #}
                {% if breadcrumb_links is defined and breadcrumb_links is not empty %}
                {#<ol class="breadcrumb">
                    {% for breadcrumb_link in breadcrumb_links %}
                        {% if not loop.last %}
                            &#123;&#35; Add link to page &#35;&#125;
                            <li><a href="{{ breadcrumb_link.url }}">{{ breadcrumb_link.label|trans }}</a></li>
                        {% else %}
                            &#123;&#35; Add page label &#35;&#125;
                            <li class="active">{{ breadcrumb_link.label|trans }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>#}
                {% endif %}
            </div>
            {% endblock %}

            {# Page Content #}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var assetDirectory = '{{ asset('bundles') }}';
    </script>

    {# Angular JS #}
    {% javascripts output='dist/js/workspace.min.js'
        '@ElorfinUserInterfaceBundle/Resources/public/js/ScrollableDirective.js'
        '@MusicToolsTheoryBundle/Resources/public/js/Note/*'
        '@MusicToolsTheoryBundle/Resources/public/js/Note/Service/*'
        '@MusicToolsTheoryBundle/Resources/public/js/Note/Directive/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/Guitar/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/Guitar/Directive/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/GuitarNeck/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/GuitarNeck/Controller/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/GuitarNeck/Controller/Layer/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/GuitarNeck/Directive/*'
        '@MusicToolsInstrumentBundle/Resources/public/js/GuitarNeck/Directive/Layer/*'
        '@MusicToolsSongBookBundle/Resources/public/js/SheetMusic/*'
        '@MusicToolsSongBookBundle/Resources/public/js/SheetMusic/Controller/*'
        '@MusicToolsSongBookBundle/Resources/public/js/SheetMusic/Directive/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        angular.module('MusicTools', [
            'ui.scrollable',

            'Note',
            'Guitar',
            'GuitarNeck',
            'SheetMusic'
        ]);
    </script>
{% endblock %}
