{% macro menuItem(name, label, url, icon) %}
    {% set current = (name in app.request.get('_route')) %}
    <li role="presentation" {% if current %}class="active"{% endif %}>
        <a href="{{ url }}">
            {% if icon is defined %}
            <span class="fa fa-{{ icon }}"></span>
            {% endif %}

            {{ label|trans }}

            {% if current %}
                <span class="sr-only">({{ 'link.current'|trans }})</span>
            {% endif %}
        </a>
    </li>
{% endmacro %}

{% import _self as macros %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="fa fa-music"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li>
                    <a href="">
                        features
                    </a>
                </li>

                <li>
                    <a href="">
                        contact
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{ macros.menuItem('login',    'link.login',    path('fos_user_security_login'),        'user') }}
                {{ macros.menuItem('register', 'link.register', path('fos_user_registration_register'), 'user-plus') }}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
