{% macro menuItem(name, icon, label, url) %}
    {% set current = (name in app.request.get('_route')) %}
    <li role="presentation" {% if current %}class="active"{% endif %}>
        <a href="{{ url }}">
            <span class="{{ icon }}"></span>

            <span class="sr-only">
                {{ label|trans }}

                {% if current %}
                ({{ 'link.current'|trans }})
                {% endif %}
            </span>
        </a>
    </li>
{% endmacro %}

{% import _self as macros %}

<nav class="sidebar">
    <ul>
        {{ macros.menuItem('guitar',   'music-icon music-icon-guitar-headstock',       'link.instrument', path('guitar')) }}
        {{ macros.menuItem('song',     'fa fa-music',          'link.song_book',  path('song')) }}
    </ul>

    <ul>
        {{ macros.menuItem('theory', 'fa fa-graduation-cap', 'link.theory', path('theory')) }}
        {{ macros.menuItem('game',   'fa fa-gamepad',        'link.game',   '#') }}
    </ul>

    <ul>
        {{ macros.menuItem('musician', 'fa fa-users',    'link.musician', path('musician')) }}
        {{ macros.menuItem('forum',    'fa fa-comments', 'link.forum', '#') }}
        {{ macros.menuItem('announce', 'fa fa-bullhorn', 'link.announce', '#') }}
    </ul>
</nav>