{% macro menuItem(name, icon, label, url) %}
    {% set current = (name in app.request.get('_route')) %}
    <li role="presentation" {% if current %}class="active"{% endif %}>
        <a href="{{ url }}" data-toggle="tooltip" data-placement="right" title="{{ label|trans }}">
            <span class="{{ icon }}"></span>

            <span class="sr-only">
                {{ label|trans }}

                {% if current %}
                ({{ 'link.current'|trans }})
                {% endif %}
            </span>
        </a>
    </li>
{% endmacro %}

{% import _self as macros %}

<nav class="sidebar">
    {# Library links #}
    <ul>
        {{ macros.menuItem('instrument', 'music-icon music-icon-guitar-headstock', 'link.instrument', path('instrument')) }}
        {{ macros.menuItem('song',       'music-icon music-icon-music-folder',     'link.song_book',  path('song'))       }}
    </ul>

    {# Theory links #}
    <ul>
        {{ macros.menuItem('theory', 'fa fa-graduation-cap', 'link.theory', path('theory')) }}
        {{ macros.menuItem('game',   'fa fa-gamepad',        'link.game',   '#')            }}
    </ul>

    {# Community links #}
    <ul>
        {{ macros.menuItem('musician',      'fa fa-users',    'link.musician',      path('musician'))      }}
        {{ macros.menuItem('forum',         'fa fa-comments', 'link.forum',         path('forum'))         }}
        {{ macros.menuItem('advertisement', 'fa fa-bullhorn', 'link.advertisement', path('advertisement')) }}
    </ul>
</nav>