{% extends '::base.html.twig' %}

{% set header_links = [
    { label: 'Add a new instrument', icon: 'fa fa-fw fa-plus', url: path('instrument_new') }
] %}

{% set breadcrumb_links = [
    { label: 'My instruments' }
] %}

{% block content_title %}{{ 'my_instruments'|trans }}{% endblock %}

{% block content %}
    <div class="guitar-list">
        {% for entity in entities %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">
                        {{ entity.manufacturer }}

                        {% if entity.model is defined %}
                        <small>{{ entity.model }}</small>
                        {% endif %}
                    </h2>

                    <a class="btn btn-round btn-default" href="{{ path('instrument_show', { 'id': entity.id }) }}">
                        <span class="fa fa-fw fa-eye"></span>
                        <span class="sr-only">show</span>
                    </a>

                    <a class="btn btn-round btn-default" href="{{ path('instrument_edit', { 'id': entity.id }) }}">
                        <span class="fa fa-fw fa-pencil"></span>
                        <span class="sr-only">edit</span>
                    </a>

                    <div>
                        {{ entity.headstock }}
                        {{ entity.strings }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
