{% extends 'MusicToolsInstrumentBundle:CreateWizard:layout.html.twig' %}

{% set header_links = [
    { label: 'Previous', icon: 'fa fa-fw fa-arrow-left', url: path('instrument_new_step2') },
    { label: 'Next', icon: 'fa fa-fw fa-arrow-right', url: path('instrument_new_step2') },
    { label: 'Cancel', icon: 'fa fa-fw fa-times', url: path('instrument') },
] %}

{% block wizard_step_title %}2. Choose a preconfigured model{% endblock %}

{% block wizard_content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="text-right">
            <a href="{{ path('instrument_new') }}" class="btn btn-default">
                <span class="fa fa-arrow-left"></span>
                Previous
            </a>

            <button type="submit" class="btn btn-primary">
                Next
                <span class="fa fa-arrow-right"></span>
            </button>

            <a href="{{ path('instrument') }}" class="btn btn-default">
                <span class="fa fa-times"></span>
                Cancel
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}
